anyascii
asgiref
certifi
cffi
charset-normalizer
colorama
crispy-bootstrap5
crispy-tailwind
cryptography
decorator
defusedxml
distlib
dj-database-url
Django
django-auto-logout
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-modelcluster
django-permissionedforms
django-taggit
django-treebeard
djangorestframework
djangorestframework-simplejwt
draftjs-exporter
env
filelock
filetype
html5lib
idna

joblib
l18n
laces
Markdown


platformdirs
proglog
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-decouple
python-dotenv
pytz
requests
six
soupsieve
sqlparse
telepath
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
virtualenv
wagtail
webencodings
Willow
gunicorn
psycopg2-binary
psycopg